@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Даний веб-застосунок призначений для оцінювання вигідності покупки автомобіля
    на основі моделі машинного навчання.
</p>
